__pycache__/
*.pyc
*.log
*.swp
.vscode/
.idea/
*.npy

# DO NOT ignore plots/CSVs (we want them tracked for grading)
#*.png
#*.csv

# Local env & OS junk
.venv/
.DS_Store
Thumbs.db

# Ignore generated datasets & plots
#data/*.csv
#data/*.npy
#data/plots/*